@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --color-primary: #6366F1;
    --color-white: #fff;
    --color-grey900: #0B0F19;
    --color-grey600: #9397AD;
    --color-grey300: #E2E5F1;
    --color-grey700: #565973;
    --container-padding: 1rem;
}

* {
    box-sizing: border-box;
} 

body, section, div, header, footer, main, aside, nav, blockquote, p, span {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.container {
    width: 100%;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
    
}

.btn-toggle-switch .label {
    display: none;
}

.btn-mobile {
    img {
        height: 30px;
    }
}

.navbar {
    display: none;
}

.nav-link {
    color: var(--color-grey900);
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover{
    color: var(--color-primary);
    text-decoration: underline;
}

header .container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 2rem;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#firstpage {
    text-align: center;

    p {
        font-size: 18px;
        color: var(--color-grey700);
    }
}

h1 {
    font-size: 40px;
    font-weight: 800;
}

.storelink {
    background-color: var(--color-grey900);
    width: 366px;
    height: 50px;
    border-radius: 8px;
    margin-top: 2em;
}

.storelink:hover {
    cursor: pointer;
}

.discovermore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    gap: 2rem;

    p {
        font-size: 14px;
        color: var(--color-grey700);
    }
}

#discovermore {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    /* background-color: var(--color-white); kommenterat bort tills bakgrundsfärgen är rätt*/

}

#discovermore:hover {
    cursor: pointer;
}

footer {
    font-size: 14px;
    padding-top: var(--container-padding);
    padding-bottom: var(--container-padding);
    color: var(--color-grey600);

    .container {
        display: flex;
        gap: .5rem;
        justify-content: center;
        align-items: center;
    }
    .credit {
        display: none;
    }
}

#brands {
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.brand-box {
    border: 1px solid var(--color-grey300);
    border-radius: 8px;
    height: 80px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (min-width: 768px) {
    .container {
        max-width: 720px;

    }
    .btn-toggle-switch .label {
        display: inline;
        align-items: center;
    }
    header .container {
        gap: 3rem;
    }

    footer {
        .credit {
            display: block;
        }
    }

    #brands {
        display: block;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
        }
    }

    #brand-5, #brand-6 {
        display: none;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    header .container {
        grid-template-columns: auto 1fr auto auto;
        gap: 2rem;
    }

    .navbar {
        display: block;
    }

    #brand-5, #brand-6 {
        display: flex;
    }

    .brand-box {
        height: 100px;
        width: 200px;
    }
}

/* mörkt tema */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-grey900);
        color: var(--color-white);
        /* kom ihåg att byta de svarta play/app-knapparna till mörka temat */
    }
}